#singlerecipebox {
  width: 90%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: black;
}
.menu-item {
  display: inline;
}
@media only screen and (max-width: 1000px) {
  .menu-item {
    display: grid;
  }
}

nav.navbar {
  background-color: #020100;
}

.navbar-item img {
  max-height: 3.75rem;
}

.column {
  align-items: stretch;
}

// div.column {
//   max-height: 750px;
// }
.slideImage{
  height: 200px;
  width: 250px;
  border-radius: 20%;
  background-color: grey;
}
.suggested{
  border-left: whitesmoke 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountContainer{
  padding: 20px;
}