@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.menu-item {
  display: inline;
}
@media only screen and (max-width: 1000px) {
  .menu-item {
    display: grid;
  }
}

nav.navbar, .footer  {
  background-color: #020100;
}

.navbar-item img {
  max-height: 3.75rem;
}

.column {
  align-items: stretch;
}

.slideImage{
  height: 200px;
  width: 250px;
  border-radius: 12px;
  background-color: grey;
}
.suggested{
  border-left: whitesmoke 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountContainer{
  padding: 20px;
}

#singlerecipebox {
  width: 90%;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-height: 1500px !important;
}

#columnleft {
  max-height: 1500px !important;
}

#herobackground {
  background-image: url('https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
}

#herobackgroundsearch {
  background-image: url('https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center center fixed;
  overflow: scroll;
}

.button {
  margin: 5px;
}

.is-flex-direction-column {
  padding: 20px;
  border-radius: 5px;
}

.modal-card-head, .modal-card-foot {
  background-color: #020100;
}

p.modal-card-title {
  color: white;
}

.file-name{
  background-color: white;
  padding: 30px;
}

.logout{
  font-family: 'Pacifico', cursive;
  padding: 50px;
  font-size: 6em;
}

.load {
  display: flex;
  justify-content: 'center';
  align-items: 'center';
}

#allrec, #browserec, #resultstitle {
  font-family: 'Pacifico', cursive;
}
